---
title: 'Design Gandalf'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

{% include "components/hero1.html" %}

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                1
            </picture>
            <h2>Success One</h2>
          
        </div>
        <div class="card">
            <picture>
            2
            </picture>
            <h2>Success Two</h2>
        </div>
        <div class="card">
            <picture>
      3
            </picture>
            <h2>Success Three</h2>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home1.webp" alt="First Gome Page Photo" loading="lazy" width="400">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home2.webp" alt="house" loading="lazy" width="400" >
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Do you </span>
                <h2 class="cs-title">Struggle With</h2>
                <ul>
                    <li>Problem number one goes here</li>
                    <li>Second problem goes here</li>
                    <li>Another problem can go here</li>
                    <li>Fourth problem goes here</li>
                </ul>
                 
 
                <a href="/contact" class="cs-button-solid">Start today</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Value</span>
                <h2 class="cs-title">Proposition</h2>
                <ul>
                    <li>
                        Service One
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </li>
                    <li>
                        Service Two
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </li>
                    <li>
                        Service Three
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </li>
                </ul>
                 
                <a href="/blog" class="cs-button-solid">Get in touch</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
<STYLE>
    
    #gallery img {max-width: 100%;}
    .newGrid {
        grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
    }
    </style>
    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Boost your revenue with a</span>
            <h2 class="cs-title">Mobile friendly website design</h2>
            <div class="newGrid">
                <img src="/assets/images/portfolio/1.jpg">

                <img src="/assets/images/portfolio/2.jpg">

                <img src="/assets/images/portfolio/3.jpg">

                <img src="/assets/images/portfolio/4.jpg">
         </div>
               
            </div>
           <!----> <a href="/contact" class="cs-button-solid">Start your project</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Hear from our</span>
            <h2 class="cs-title">Satisified Customers</h2>
            <p class="cs-text">
                Your 100% satisfaction is our guarantee.
            </p>
            <style>.cs-item-img {border-radius: 999px;}</style>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="assets/images/brian.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        <span class="cs-reviewer">
                        Brian Portillo
                        <span class="cs-desc">Senior Sofrware Engineer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="assets/images/joe.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        <span class="cs-reviewer">
                      Joe DiPasquale
                        <span class="cs-desc">Founder and CEO</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                
            </ul>
         
        </div>
    </section>


                  
   


    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                1
            </picture>
            <h2>Get a quote</h2>
          <p>Call, text, or fill out our contact form to schedule your service</p>
        </div>
        <div class="card">
            <picture>
            2
            </picture>
            <h2>Get Great Service</h2>
            <p>Our team will be out right away to perform an excellent job for you</p>
        </div>
        <div class="card">
            <picture>
      3
            </picture>
            <h2>Satisfaction Guarteed</h2>
            <p>We will work with you until love our service or you get your money back</p>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}