---
title: 'Design Gandalf'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<div class="content headerContent">
    <h1>The best sushi in  {{ client.address.city }}</h1>
    <div>
        Locally owned and operated in  {{ client.address.city }}, {{ client.name }} promises the best quality ingredients, service, and experience. Check us out and see why we are the best choice for  {{ client.offer}} in {{ client.address.city }}, {{ client.address.state }}.
        <DIV><a class="button buttonPrimary" href="">See our menu</a>
        <a class="button buttonSecondary" href="">Order Now</a></DIV>
    </div>
    </div>


    

<div class="sectionTwo">
    <div class="sectionContent">
    <h1>Our Promise</h1>
        <span class="flourish"></span>
        <div>
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        </div>
            </div>
</div>




{% endblock %}