/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/



/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  


    /* roboto-regular - latin */
    @font-face {
        font-style: normal;
        font-family: "Poppins";
        font-weight: 400;
        font-display: swap;
        src: local(""),
            url("/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */
                url("/assets/fonts/.woff")
                format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
 
    /* roboto-900 - latin */
    @font-face {
        font-style: normal;
        font-family: "Poppins";
        font-weight: 900;
        font-display: swap;
        src: local(""),
            url("/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */
                url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    body {font-family: "Poppins", Arial, sans-serif;}

* {transition: all ease .1s;}

:root {
    --primary-color: #302AE6;

}
a {color:blue}

.dropdown .li-link:hover + .cs-drop-ul {display: block;}
.skip {visibility: hidden;}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
                fill: #fff;
            }
        }
    }

    #dark-mode-toggle {
        width: calc(48 / 16 * 1rem);
        height: calc(48 / 16 * 1rem);
        padding: 0;
        background: transparent;
        border: none;
        display: block;
        position: absolute;
        top: calc(10 / 16 * 1rem);
        right: calc(70 / 16 * 1rem);
        z-index: 1000;
        overflow: hidden;
        cursor: pointer;

        img,
        svg {
            width: calc(20 / 16 * 1rem);
            height: calc(20 / 16 * 1rem);
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition: transform 0.3s, opacity 0.3s;

            // fill: yellow; --> uncomment to change the color of the moon if needed
        }

        .cs-sun {
            opacity: 0;
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 0.3s;
        }
    }
}












header
input {visibility: hidden;}
nav {display: none;}
input[type=checkbox]:checked ~  nav {display: block;}



.hamburger {
  display: block;
  position: fixed;
  top: 18px;
  right: 13px;
  height: 40px;
  width: 41px;
  border-radius:99px;
  cursor: pointer;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
  background:rgba(0,0,0,.9);
  border:1px solid white;
    z-index: 9999;
}

.line {
    position: absolute;
    display: block;
    background: #fff;
    width: 18px;
    height: .15rem;
    border-radius: .2rem;
    left: 11px;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }
  
  .line-1 {
    top: 11px;
  }
  
  .line-2 {
    top: 18px;
    width: 14px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }
  
  .line-3 {
    top: 25px;
  }
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 10px;
    width: 22px;
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }
  
  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 24px;
    width: 22px;
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }